.product-card {
  width: 220px;
  padding: 15px;
  background-color: #2cc4f3;
  border-radius: 12px;
}

.product-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-desc {
  font-size: 13px;
  padding-left: 18px;
}

.product-desc li {
  margin-bottom: 4px;
}

.product-price {
  margin-top: 12px;
}

.old-price {
  text-decoration: line-through;
  margin-right: 10px;
  color: #555;
}

.new-price {
  font-weight: bold;
  font-size: 15px;
}